.main {
    width: 85%;
    margin: auto;
    padding-top: 70px;
}

/* coupon */
.container_Coupon {
    width: auto;
    display: flex;
    justify-content: space-between
}

.item_Coupon {
    margin-top: 30px;
    display: flex;
    width: 25%;
    padding: 5px;
}

.container_img_Coupon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 8px #ec720e solid;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px;
}

.img_Coupon {
    width: 100%;
    padding: 5px;
}

.body_Coupon {
    width: 80%;
    border-radius: 10px;
    border: 1px solid #888888;
    padding: 10px 10px;
}

.title_Coupon {
    font-weight: 500;
    font-size: 15px;
}

.desc_Coupon {
    font-size: 14px;
    color: #888888;
}

.button_Coupon {
    background-color: #ff7d0f;
    padding: 5px 10px;
    border: 0;
    border-radius: 5px;
    color: white;
    font-size: 11px;
    font-weight: 500;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Fillter */
.left_Filter {
    width: 20%;
    margin-bottom: 50px;
}

.icon_filter {
    font-size: 110%;
    display: none
}

.right_Filter {
    background-color: white;
    position: fixed;
    display: none;
    padding: 0 20px 10px;
    top: 60px;
    right: 0;
    overflow: hidden;
    z-index: 100;
}

/* Product */
.container_Product {
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 50px;
}

.itemProduct {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

.img_Product {
    height: 250px;
    display: flex;
    justify-content: center;
    object-fit: cover
}

.img_Product:hover{
    transform: scale(0.9);
    transition: 1.5s;
}

.body_Product {
    height: 140px;
}

.name_Product {
    font-weight: 500;
    font-size: 18px
}

.icon_star {
    font-size: 18px;
    margin: 5px 0;
    color: #ffbe00;
}

.sale_Product {
    color: red;
    font-weight: 500;
    font-size: 16px;
}

.price_Product {
    text-decoration: line-through;
    font-size: 17px;
}

.label_Product {
    margin: 0 10px;
    align-self: center;
    font-size: 13px;
    background-color: #e9330d;
    border-radius: 20px;
    color: white;
    padding: 1px 5px;
    font-weight: 500;
}

.btn_page{
    border: 0;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px 20px;
    color: white;
}

.btn_page:active{
    transform: scale(0.95);
}

/* footer */
.container_footer {
    width: 87%;
    margin: auto;
    padding: 80px 0;
    display: flex;
    justify-content: space-between;
}

.item_footer {
    width: 25%;
    padding: 0 20px
}

.title_footer {
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.li_menu_footer {
    color: white;
    margin: 5px 0 0;
    font-size: 14px;
}

@media screen and (max-width: 575px) {
    .main {
        width: 98%;
    }

    /* SeasonColl */
    .title_SeasonColl {
        font-size: 16px;
    }

    .number_SeasonColl {
        font-size: 14px;
    }

    .image_SeasonColl {
        width: 100%;
    }

    /* coupon */
    .scroll_Coupon {
        overflow-x: auto;
    }

    .scroll_Coupon::-webkit-scrollbar {
        display: none;
    }

    .container_Coupon {
        width: 1000px;
        white-space: nowrap;
        padding-bottom: 1px;
    }

    .item_Coupon {
        padding: 0 3px;
        margin-top: 50px;
    }

    .container_img_Coupon {
        width: 19%;
        border-left-width: 4px;
    }

    .img_Coupon {
        width: 90%;
        padding: 0;
    }

    .body_Coupon {
        width: 82%;
        padding: 5px;
    }

    .title_Coupon {
        font-weight: 500;
        font-size: 11px;
    }

    .desc_Coupon {
        font-size: 11px;
    }

    .button_Coupon {
        padding: 2px 4px;
        font-size: 9px;
    }

    /* filter */
    .left_Filter {
        display: none;
    }

    .icon_filter {
        display: block;
    }

    /* product */
    .container_Product {
        width: 100%;
        grid-template-columns: auto auto auto;
    }

    .name_Product {
        font-size: 15px;
    }

    .sale_Product {
        font-size: 14px;
    }

    .price_Product {
        font-size: 14px;
    }

    .icon_star {
        font-size: 13px;
        margin: 0;
        margin: '5px 0'
    }

    /* Policies */
    .img_Policies {
        width: 100%;
        width: 18%;
    }

    /* footer */
    .container_footer {
        display: block;
    }

    .item_footer {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .main {
        width: 98%;
    }

    /* SeasonColl */
    .title_SeasonColl {
        font-size: 16px;
    }

    .number_SeasonColl {
        font-size: 14px;
    }

    .image_SeasonColl {
        width: 100%;
    }

    /* coupon */
    .scroll_Coupon {
        overflow-x: auto;
    }

    .scroll_Coupon::-webkit-scrollbar {
        display: none;
    }

    .container_Coupon {
        width: 1000px;
        white-space: nowrap;
        padding-bottom: 1px;
    }

    .item_Coupon {
        padding: 0 3px;
        margin-top: 50px;
    }

    .container_img_Coupon {
        width: 19%;
        border-left-width: 4px;
    }

    .img_Coupon {
        width: 90%;
        padding: 0;
    }

    .body_Coupon {
        width: 82%;
        padding: 5px;
    }

    .title_Coupon {
        font-weight: 500;
        font-size: 11px;
    }

    .desc_Coupon {
        font-size: 11px;
    }

    .button_Coupon {
        padding: 2px 4px;
        font-size: 9px;
    }

    /* filter */
    .left_Filter{
        display: none;
    }

    .icon_filter{
        display: block;
    }

    /* product */
    .container_Product {
        width: 100%;
        grid-template-columns: auto auto auto;
    }

    .name_Product {
        font-size: 15px;
    }

    .sale_Product {
        font-size: 14px;
    }

    .price_Product {
        font-size: 14px;
    }

    .icon_star {
        font-size: 13px;
        margin: 0;
        margin: '5px 0'
    }

    /* Policies */
    .img_Policies {
        width: 100%;
        width: 18%;
    }

    /* footer */
    .container_footer {
        display: block;
    }

    .item_footer {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .main {
        width: 98%;
    }

    /* SeasonColl */
    .title_SeasonColl {
        font-size: 16px;
    }

    .number_SeasonColl {
        font-size: 14px;
    }

    .image_SeasonColl {
        width: 100%;
    }

    /* coupon */
    .item_Coupon {
        padding: 0 3px;
        margin-top: 50px;
    }

    .container_img_Coupon {
        width: 19%;
        border-left-width: 4px;
    }

    .img_Coupon {
        width: 90%;
        padding: 0;
    }

    .body_Coupon {
        width: 82%;
        padding: 5px;
    }

    .title_Coupon {
        font-weight: 500;
        font-size: 11px;
    }

    .desc_Coupon {
        font-size: 11px;
    }

    .button_Coupon {
        padding: 2px 4px;
        font-size: 9px;
    }

    /* filter */
    .left_Filter {
        display: none;
    }

    .icon_filter {
        display: block;
    }

    /* product */
    .container_Product {
        width: 100%;
    }

    .name_Product {
        font-size: 15px;
    }

    .sale_Product {
        font-size: 14px;
    }

    .price_Product {
        font-size: 14px;
    }

    .icon_star {
        font-size: 13px;
        margin: 0;
        margin: '5px 0'
    }

    /* Policies */
    .img_Policies {
        width: 100%;
        width: 18%;
    }

    /* footer */
    .container_footer {
        display: block;
    }

    .item_footer {
        margin-top: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .main {
        width: 95%;
    }

    /* SeasonColl */
    .title_SeasonColl {
        font-size: 16px;
    }

    .number_SeasonColl {
        font-size: 14px;
    }

    .image_SeasonColl {
        width: 100%;
    }

    /* coupon */
    .item_Coupon {
        padding: 0 3px;
        margin-top: 50px;
    }

    .container_img_Coupon {
        width: 25%;
        border-left-width: 5px;
    }

    .body_Coupon {
        padding: 5px;
    }

    .title_Coupon {
        font-weight: 500;
        font-size: 13px;
    }

    .desc_Coupon {
        font-size: 11px;
        color: #888888;
    }

    .button_Coupon {
        padding: 2px 5px;
        font-size: 11px;
    }
}